<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<div align="center">
		<h1>学生管理系统登录</h1>
		<form class="form-signin" action="./login" method="post">
			<input type="text" name="username" placeholder="username"/>
			<br/>
<!--			<input type="password"  name="password",placeholder="password"/>-->
			<input type="password"  name="password" placeholder="password"/>
			<br/>
			<input type="submit"  value="Login" >
			<input type="reset" value="reset">
		</form>
	</div>

</body>
</html>