<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>welcome to you,root</h1>

<div class="change">
        <form class="add-user" action="./root/addUser" method="post">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <input type="text" name="tab" placeholder="角色"/>
            <input type="submit" value="添加"/>
        </form>
</div>

</body>
</html>